src/Client/UI/Console/Service References/GameServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Poker.Service.Contracts.Entities" />
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Poker.Service.Contracts.Entities" minOccurs="0" name="user" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Poker.Service.Contracts.Entities" minOccurs="0" name="user" nillable="true" type="q2:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WatchGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Poker.Service.Contracts.Entities" minOccurs="0" name="user" nillable="true" type="q3:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasJoinedGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Poker.Service.Contracts.Entities" minOccurs="0" name="res" nillable="true" type="q4:GameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasWatchedGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Poker.Service.Contracts.Entities" minOccurs="0" name="res" nillable="true" type="q5:GameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasQuitGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Poker.Service.Contracts.Entities" minOccurs="0" name="res" nillable="true" type="q6:GameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CatchError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Poker.Service.Contracts.Entities" minOccurs="0" name="res" nillable="true" type="q7:GameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>